*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.nav-bar{
    display: flex;
    padding: 50px 120px;
}
.navbar-brand img{
    width: 160px;
}
.nav-item{
    font-size: 20px;
    font-weight: bold;
}
.bgimg{
    background-image: url(../images/1.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 660px;
}
.hearderset{
    padding-top: 250px;
    box-sizing: border-box;
}
.hearderset h2{
    font-size: 42px;
}
.hearderset h1{
    font-size: 72px;
}
.hearderset h3{
    font-size: 72px;
    font-weight: bold;
}
.categories{
    padding: 100px 0px 60px;
}
.categories h1{
    font-size: 50px;
    font-weight: bold;
}
.imgsetting{
    font-size: 30px;
    padding: 100px 0px 60px;
}
.card{
    margin-top: 20px;
}
.card-body{
    font-size: 30px;
    padding: 100px 0px 60px;
}
.card-body h2{
    font-size: 20px;
}
.card{
    border-radius: 25px;
    padding: 10px;
    width: 200px;
    height: 140px;
    box-shadow: 5px 5px 15px #90ee90;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}
.card:hover{
    background: #98fb98;
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px #9e9e9e;
}